<li>
    {{!--Expects burgerName,  id, devour--}}
    {{burger_name}}
    <button class="devour" data-id="{{id}}" data-devour="{{devour}}">
        {{#if devour}}MAKE ME!{{else}}EAT ME!   {{/if}}
    </button>
    <button class="btn btn-secondary btn-sm delete-burger" data-id="{{id}}">DELETE!</button>
</li>